.centered {
    text-align: center;
}

.jumbotron {
    color: white;
    background-color: #7c400e;
    border-radius: 6px;
}

.card-header {
    background-color: #1a5f8d;
    color: white;
}

.btn {
    background-color: #1a5f8d;
    color: white;
}

.card {
    border: solid #1a5f8d 2px;
    border-radius: 6px;
}
